:root {
    --primary-color: #F1CDB3;
    --primary-light-color: #FDDCC4;
    --dark-header-color: #545454;
    --dark-grey-color: #292929;
    --dark-text-color: #4c4c4c;
    --color-back: #000000;
    --color-white: #ffffff;
    --inactive-link-color: #CDCDCD;
    --active-link-color: #FAFAFA;
    --grey-bg-color: #F6F6F6;
    --light-grey-color: #fafafa;
    --font-xl: 35px;
    --font-l: 20px;
    --font-m: 17px;
    --font-s: 15px;
    --header-font-family: 'Georgia', serif;
    --italic-text: "Arial Italic", sans-serif;

}
*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Arial";
    src: url("../assets/fonts/Arial.woff2") format("woff2");
  }

@font-face { 
    font-family: "Arial Italic";
    src: url("../assets/fonts/Arial-Italic.woff2") format("woff2");
  }

@font-face { 
    font-family: "Georgia";
    src: url("../assets/fonts/Georgia.woff2") format("woff2");
  }


html {
  scroll-behavior: smooth;
  background-color: #fdfdfd;
  
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    color: var(--dark-text-color);
    line-height: 24px;
    max-width: 1280px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: nowrap;
    background-color: var(--color-white);
    box-shadow: 0px 0px 20px rgba(87, 87, 87, 0.20);
}

h1, h2, h3, h4, h5 {
    font-family: var(--header-font-family);
    font-style: normal;
    font-weight: 400;
    color: var(--dark-header-color);
    margin: 0;
    line-height: 130%;
    letter-spacing: 0.06em;
}

h1 {
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    padding-bottom: 9px;
}

h2 {
    font-size: 44px; 
    color: var(--color-white);
    letter-spacing: 0;  
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 20px;
    line-height: 115%;
}

h5 {
    font-size: 15px;
    line-height: 110%;
}

a {
    text-decoration: none;
    letter-spacing: 0.06em;
    line-height: 115%;
    color: var(--primary-color);
    transition: 0.5s ease-in-out;    
}

a:hover {
    cursor: pointer;
    transition: 0.5s ease-in-out;
}


.btn {
    font-family: var(--header-font-family);
    font-size: var(--font-m);
    background-color: var(--primary-color);
    padding: 15px 45px;
    border: none;
    border-radius: 100px;
    color: var(--dark-grey-color);
    letter-spacing: 0.06em;
    line-height: 22px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.btn a {
    color: var(--dark-grey-color);
    transition: 0.5s ease-in-out;    
}

.secondary_btn {
    padding: 13px 43px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
}

.round_btn {
    font-size: var(--font-l);
    color: var(--dark-grey-color);
    padding: 12px 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.btn:hover {
    background-color: var(--primary-light-color);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.secondary_btn:hover {
    border-color: var(--primary-light-color);
    transition: 0.5s ease-in-out;    
}

.inactive_btn {
    color: var(--inactive-link-color);
    border-color: var(--inactive-link-color);
    cursor: auto;
}

.inactive_btn:hover {
    background-color: transparent;
    color: var(--inactive-link-color);
    border-color: var(--inactive-link-color);
    cursor: auto;
}

.material-icons {
    font-size: 22px;
}

.material-icons.left_arrow {
    transform: rotate(180deg);
}

ul {
    list-style: none;
}

/*Header styles*/

.wrapper_dark-bg {
    background: url(../assets/images/noise_transparent@2x.png), radial-gradient(100% 150% at 0% 0%, #5B483A 0%, #262425 100%);
    padding-top: 30px;
}

.header {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.logo {
    text-align: center;
    z-index: 9;
}

.logo a {
    text-align: center;
    color: var(--primary-color);
}

.subheader_logo {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--color-white);
}

nav.menu {
    margin-left: auto;
}

.nav_items {
    line-height: 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    gap: 36px;
    letter-spacing: 0;
}

.nav_item a{
    color: var(--inactive-link-color);
    letter-spacing: 0;
}

.nav_item a:hover {
    color: var(--active-link-color);
}

.nav_item_active_light {
    border-bottom: 2px solid var(--primary-color);
    transition: 0.5s ease-in-out;  
    cursor: pointer;  
    color: var(--active-link-color);
}

.burger-icon {
    display: none;
}

/* Main */

section {
    padding: 80px 40px 100px;
}

/*Hero section*/

.hero_section {
    padding: 30px 40px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 42px;
    color: var(--color-white);
}

.hero_section_content {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 41px;
    padding-top: 164px;
    color: var(--inactive-link-color);
}

.hero_section_content h2 {
    max-width: 310px;
}

/*About section*/
.about_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
}

.about_section_content {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about_section_content h3 {
    max-width: 310px;
}

/*Our friends section, SLIDER*/
/* slider animation styles*/

@keyframes move-right {
    from {left: 1080px}
    to {left: 0px}
}

@keyframes move-left {
    from {left: -1080px}
    to {left: 0px}
}

.transition-right {
    animation-name: move-right;
    animation-duration: 5s;
}

.transition-left {
    animation-name: move-left;
    animation-duration: 5s;
}

/*section Our friends styles*/

.pets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    background-color: var(--grey-bg-color);
}

.pets h3 {
    text-align: center;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 53px;
}

.slider-container {
    overflow: hidden;
    width: 990px;
}

.slider-left, .slider-center, .slider-right {
    display: flex;
    gap: 90px;
}

.slider {
    display: flex;
    position: relative;
    left: -1080px;
    gap: 90px;
}

.card {
    background-color: var(--light-grey-color);
    padding-bottom: 30px;
    border-radius: 9px;
    transition: 0.5s ease-in-out;
    text-align: center;
}

.card:hover {
    background-color: var(--color-white);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.card:hover .card-btn {
    background-color: var(--primary-light-color);
    border-color: var(--primary-light-color);
}
.card_name {
    font-size: var(--font-l);
    color: var(--dark-header-color);
    font-family: var(--header-font-family);
    padding: 21px 0 30px;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.card img {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.slider__controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 121.5%;
    top: 50%;
    transform: translateY(-50%);
}

/*Help items*/
.help h3 {
    padding-bottom: 60px;
    text-align: center;
}
.help_items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 120px;
    justify-content: center;
    text-align: center;
}

.help h4 {
    padding-top: 22px
}

/* Donation*/

.donation {
    background-color:  var(--grey-bg-color);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.donation_section_image {
    padding-top: 10px;
}

.donation h3 {
    padding-bottom: 21px;
    line-height: 44px;
    padding-right: 60px;
}

.donation h5 {
    letter-spacing: 0.06em;
}

.donation_content {
    padding-top: 2px;
    max-width: 380px;
}

.donation_content a {
    color: var(--dark-grey-color);
}
.donation_credit_card {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 9px;
    padding: 10px 15px;
    margin: 20px 0;
}

.donation .subtext {
    font-size: 12px;
    font-family: var(--italic-text);
    line-height: 18px;
    color: #b2b2b2;
}

/* Footer */

.footer {
    display: flex;
    padding: 43px 40px 0;
    background: url(../assets/images/noise_transparent@2x.png), radial-gradient(100% 150% at 0% 0%, #5B483A 0%, #262425 100%);
    gap: 160px;
    color: var(--primary-color);
    font-family: var(--header-font-family);
    font-size: var(--font-l);
    
}

.footer_contacts {
    display: flex;
    gap: 140px;
}
.footer_block {
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer_block:nth-child(2){
    gap: 33px;
}

.footer_header {
    font-size: var(--font-xl);
    font-family: var(--header-font-family);
    color: var(--color-white);
    line-height: 45px;
    letter-spacing: 0.06em;
}

.contact_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    letter-spacing: 0.06em;
}

a .contact_link {
    color: var(--dark-grey-color);
}

.footer a:hover {
    color: var(--primary-light-color);
}


@media (max-width: 1279px){
    section {
        padding: 80px 30px 100px;
    }

    .wrapper_dark-bg {
        padding-top: 0;
    }
    
    .header {
        max-width: 708px;
    }

    .hero_section {
        flex-wrap: wrap;
        padding: 31px 40px 0;
        gap: 100px;
    }

    .hero_section_content {
        padding-top: 0;
    }
    .hero_section_content > .btn {
        align-self: center;
    }

    .hero_section > img {
        width: 569px;
        margin-left: 138px;
    }

    .about_section {
        flex-direction: column-reverse;
        gap: 81px;
    }

    .pets {
        gap: 60px;
    }

    .slider-wrapper {
        gap: 12px;
    }

    .slider-container {
        width: 580px;
    }

    .slider {
        gap: 40px;
        /* left: -620px; */
    }

    .slider-item:last-child {
        display: none;
    }

    .help_items {
        width: 630px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        row-gap: 56px;
        column-gap: 60px;
    }
    .donation {
        flex-direction: column-reverse;
        gap: 50px;
        padding-bottom: 92px;
    }
    .donation h3 {
        padding-bottom: 19px;
        line-height: 45px;
        padding-right: 60px;
    }

    .footer {
        flex-wrap: wrap;
        background: url(../assets/images/noise_transparent@2x.png), radial-gradient(100% 150% at 0% 0%, #5B483A 0%, #262425 100%);
        padding-top: 32px;
        justify-content: center;
        gap: 65px;
    }

    .footer_contacts {
        gap: 38px;
    }

    .footer_block {
        width: 300px;
        padding-top: 0;
} 

}

@media (max-width: 767px) {
    .hidden-overflow {
        overflow-y: hidden;
    }

    h2, h3, .footer_header {
        font-size: 25px;
    }

    h4 {
        font-size: var(--font-s);
    }

    .header {
        max-width: 320px;
        padding: 0 10px;
        overflow-x: hidden;
    }

    .menu {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 320px;
        height: 100vh;
        top: 0;
        background-color: var(--dark-grey-color);
        right: -320px;
        z-index: 2;
        font-size: 32px;
        line-height: 51.2px;
        overflow-x: hidden;
        transition: all .8s ease-in-out;
    }

    .nav_items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 48px;
        gap: 43px;
    }

    .burger-icon {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 22px;
        margin-right: 43px;
        z-index: 9;
        cursor: pointer;
        transition: 0.5s;
    }

    .burger-line, .burger-line::before, .burger-line::after{
        display: inline-block;
        position: absolute;
        background-color: var(--primary-color);
        height: 2px;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

    .burger-line::before {
        content: "";
        margin-top: 10px;
    }

    .burger-line::after {
        content: "";
        margin-top: -10px;
    }
    .clicked {
        transform: rotate(90deg);
        position: fixed;
        right: 60px;
    }

    .opened {
        right: 0;   
    }

    .shadowed {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 2;
        background: rgba(41, 41, 41, 0.6);
        transition: 0.5s;
    }

    /* Sections @media max-width 767px*/
    section {
        padding: 42px 10px;
    }
    .hero_section img, .about_section img, .donation img, .footer img  {
        max-width: 260px;
    }

    .hero_section {
        padding: 30px 10px 0;
        gap: 107px;
        flex-direction: column;
        align-items: center;
    }

    .hero_section img {
        margin-left: 37px;
    }
    .hero_section_content {
       text-align: center;
       max-width: 300px;
       align-items: center;
    }
   
    .hero_section_content h2 {
        max-width: 220px;
        letter-spacing: 0.06em;
    }
    .about_section {
        gap: 40px;
    }
    
    .about_section_content {
        max-width: 300px;
        text-align: center;
        padding: 0 15px;
        gap: 23px;
    }
    
    .about_section p {
        text-align: justify;
    }
    
    .about_section img {
        width: 260px;
    }

    .pets {
        gap: 43px;
    }

    .slider-wrapper {
        gap: 19px;
    }

    .slider-container {
        width: 270px;
    }

    /* .slider {
        left: -310px;
    } */

    .slider-item:nth-child(2) {
        display: none;
    }

    .slider__controls {
        position: static;
        transform: none;
        justify-content: center;
        gap: 80px;
    }
    
    .help h3 {
        padding-bottom: 40px;
    }

    .help_items {
        max-width: 286px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 29px;
        column-gap: 34px;
    }

    .help_items h4 {
        padding-top: 14px;
    }

    .help_icon {
        width: 50px;
        height: 50px;
    }

    .donation {
        padding: 0 20px 35px;
        gap: 33px;
    }

    .donation_content {
        max-width: 280px;
        text-align: center;
        padding-top: 0;
    }

    .donation h3 {
        padding: 42px 30px 23px;
        line-height: 32px;
    }
    
    .donation h5 {
        letter-spacing: 0;
    }

    .donation_credit_card {
        margin: 24px auto 19px;
        gap: 13px;
    }

    .donation .subtext {
        text-align: justify;
    }

    .footer {
        gap: 41px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 32px 0 0 0 ;
    }

    .footer_contacts {
        flex-direction: column;
        gap: 42px;
    }

    .footer_header {
        text-align: center;
        line-height: 31px;
        padding: 0 1.5rem;
    }

    .footer_block:nth-child(2) {
        gap: 40px;
        align-items: flex-start;
    }

    .contact_item {
        justify-content: center;
    }
}