
.header-transparent {
   top: 0;
   position: fixed;
   max-width: 1280px;
   width: 100%;
   background-color: var(--color-white);
   padding: 0 40px;
}

.header-transparent-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.header-transparent-logo, .header-transparent .nav_item a{
    color: var(--dark-header-color);
}

.header-transparent a:hover {
    color: var(--dark-grey-color);
}

.header-transparent .subheader_logo{
    color: var(--dark-grey-color);
}

.nav_item_active_dark {
    border-bottom: 2px solid var(--primary-color);
    transition: 0.5s ease-in-out;  
    cursor: pointer;  
    color: var(--dark-grey-color);
}

.pets_page {
    margin-top: 120px;
    gap: 60px;
}
.cards_pets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    row-gap: 31px;
    column-gap: 40px;
}

.page_buttons {
    display: flex;
    gap: 20px;
}

.page_number {
    font-family: var(--header-font-family);
    width: 52px;
    background-color: var(--primary-color);
    font-size: var(--font-l);
    color: var(--dark-grey-color);
    padding: 12px;
    border-radius: 50px;
    text-align: center;
}

/* media max 1279*/

@media (max-width: 1279px){
.header-transparent {
    padding: 0 30px;
    }

.header-transparent-wrapper {
    max-width: 708px;
    width: 100%;
}

.pets_page {
    gap: 30px;
    padding-bottom: 75px;
}
.cards_pets {
    margin-top: 0;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 31px;
    column-gap: 40px;
}

.card:nth-child(n+7) {
    display: none;
}

.page_buttons {
    padding-top: 11px;
}
}

@media (max-width: 767px)  {
    .header-transparent {
        padding: 0 10px;
        }    

    .header-transparent-wrapper {
        max-width: 300px;
    }
    
    .line-dark, .line-dark::after, .line-dark::before {
        background-color: var(--color-back);
    }

    .menu-light {
        background-color: var(--color-white);
    }

    .pets_page {
        gap: 42px;
        padding-bottom: 42px;
    }
    .cards_pets {
        grid-template-columns: 1fr;
    }
    
    .card:nth-child(n+4) {
        display: none;
    }
    
    .page_buttons {
       padding-top: 0;
       gap: 10px;
    }

}
